<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/public}">
<head>
    <meta charset="UTF-8">
    <title>Class Detail</title>
</head>
<link rel="stylesheet" th:href="@{/resources/semantic.min.css}">
<script th:src="@{/resources/jquery.min.js}"></script>
<script th:src="@{/resources/semantic.min.js}"></script>
<body>

<div class="ui segment" th:fragment="classImage">
    <img style="height: 300px; width: 1100px" th:src="@{/resources/static/images/OL.jpg}">
</div>

</body>
</html>